    <!-- Download Section -->
    <section id="produkter" class="content-section text-center">
        <div class="products-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Produkter</h2>
                      <p><img src="img/produkter1.jpg"></p>
                      <p><img src="img/produkter2.jpg"></p>
                      <p><img src="img/produkter3.jpg"></p>

                    <p>Vi designer og produserer eksklusive rekkverk av elde tresorter (eik, afrikanske treslag) i kombinasjon med dekorative metall paneler. Våre materialer er både estetiske og upåvirket av klimatiske forhold. Vi bruker høykvalitets belegg som er UV-bestandig og vannavstøtende. Det trenger aldri males eller overflatebehandles. LED-lampene brukes til belysning av dekorative metall paneler og område rundt rekkverket som gjør rekkverket synlig på lang avstand.</p>

                    <p><strong>Dimensjoner:</strong><br>
                      Høyde – 1,05m<br>
                      Lengde – 1,35m pr. seksjon 
                    </p>

                    <p>
                      <strong>Montering</strong><br>
                      Våre produkter leveres med en utførlig veiledning som gjør det enkelt å montere rekkverket. En trenger ikke å være spesialist for å klare monteringen selv. På grunn av en solid bunnkonstruksjon er rekkverket også stabil som gjør monteringen enklere.
                    </p>

                    <p>
                      <strong>Bestilling</strong><br>
                      Produktene kan bestilles hos oss. Dekorative metall paneler er lager av vår profesjonell designer. Vi designer ditt rekkverk akkurat slik du vil ha det. Du kan bruke dine egne tegninger for å lage dekorative paneler eller velge en tegning fra vår kolleksjon. Vi leverer individuelle løsninger tilpasset dine krav og ønsker. Det tar maks 4-5 uker å lage en dekorativ panel til rekkverket, avhengig av vanskeligheten.
                    </p>

                    <p>
                      For bestillinger kontakt oss på e-post: xx@xx.no
                    </p>




                </div>
            </div>
        </div>
    </section>
