    <!-- Products Section -->
    <section id="produkter" class="content-section text-center">
        <div class="products-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Rekkverk</h2>

                    <p>
                      <a href="img/rekkverk/1.jpg" data-toggle="lightbox">
                        <img src="img/rekkverk/s/1.jpg">
                      </a>
                    </p>

                    <p>
                      <a href="img/rekkverk/2.jpg" data-toggle="lightbox">
                        <img src="img/rekkverk/s/2.jpg">
                      </a>
                    </p>

                    <p>
                      <a href="img/rekkverk/3.jpg" data-toggle="lightbox">
                        <img src="img/rekkverk/s/3.jpg">
                      </a>
                    </p>


                    <p>Vi designer og produserer eksklusive rekkverk av edle tresorter (eik) i kombinasjon med dekorative metall paneler. Våre materialer er både estetiske og upåvirket av klimatiske forhold. Vi bruker høykvalitets belegg som er UV-bestandig og vannavstøtende. LED-lampene brukes til belysning av dekorative metall paneler og område rundt rekkverket som gjør rekkverket synlig på lang avstand. Vi tilbyr 5 års garanti på alle produkter.</p>


                    <p><strong>Dimensjoner:</strong><br>
                      Høyde – 1,05m<br>
                      Lengde – 1,35m pr. seksjon 
                    </p>

                    <p>
                      <strong>Montering</strong><br>
                      Våre produkter leveres med en utførlig veiledning som gjør det enkelt å montere rekkverket. En trenger ikke å være spesialist for å klare monteringen selv. På grunn av en solid bunnkonstruksjon er rekkverket også stabilt og gjør monteringen enklere.
                    </p>

                    <p>
                      <strong>Bestilling</strong><br>
                      Produktene kan bestilles hos oss. Dekorative metall paneler er laget av våre profesjonelle designere. Vi designer ditt rekkverk akkurat slik du vil ha det. Du kan bruke dine egne tegninger for å lage dekorative paneler eller velge en tegning fra vår kolleksjon. Vi leverer individuelle løsninger tilpasset dine krav og ønsker. Det tar maks 4-5 uker fra bestilling til levering, avhengig av vanskeligheten.
                    </p>

                    <p>
                      For bestillinger kontakt oss på e-post: xx@xx.no
                    </p>
                </div>
            </div>
        </div>
    </section>
